<div class="row">
	<div class="col-xs-11 member-data-box">
		<ul class="member-data">
          <li><%= @member.name %>さん
          	<% if @member.status == '有効' %>
				<span class="label label-success">有効</span>
			<%  elsif @member.status == '退会' %>
				<span class="label label-danger">退会</span>
			<%  else %>
				<span class="label label-warning">停止</span>
			<% end %>
          </li>
          <li>ID：<%= @member.id %></li>
          <li>通報回数：<%= @member.report_count %></li>
		  <li>メールアドレス：<%= @member.email %></li>
		</ul>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<h2 class="game-index">投稿記事一覧</h2>

		<div class="games">
			<table class= "table table-hover">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<% @games.each do |game| %>
						<tr class="text-center">
							<td><%= link_to game_path(game.id)do %><%= game.title %><% end %></td>
							<td>作成日：<%= game.created_at.strftime("%Y年%m月%d日") %></td>
							<td>いいね数</td>
							<td>コメント数</td>
							<td class="text-center"><%= link_to "編集する", edit_game_path(game.id),class: "btn btn-info btn-sm btn-edit" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


