<div class="row">
  <div class="col-xs-12">
    <h2 class="page-title">コメントを通報する</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="comment-report-detail">
      <h4>コメント内容</h4>
      <div class="comment-report-comment">
      <%= @comment.comment %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="game-report">
      <h4 class="text-center">通報内容入力欄</h4>

      <% if @report.errors.any? %>
        <div id="error_explanation">
          <% @report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

      <h5><strong>選択してください</strong></h5>
      <%= form_for(@report, html:{class: "form-group"}) do |f| %>
        <div class="game-report-input">
          <div class="radio">
            <label><%= f.radio_button :reason,"コメントの情報に間違いがあります" %>コメントの情報に間違いがあります</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :reason,"コメントに不適切な表現があります" %>コメントに不適切な表現があります</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :reason,"このコメントは特定の人・物を批判しています" %>このコメントは特定の人・物を批判しています</label>
          </div>
          <div class="radio">
            <label><%= f.radio_button :reason,"その他の理由" %>上記以外の理由</label>
          </div>
        </div>

        <h5><strong>通報内容詳細(入力必須)</strong></h5>
        <%= f.text_area :report, class: "form-control game-report-text",placeholder: "入力してください" %>
        <%= f.hidden_field :comment_id, :value => @comment.id %>
        <%= f.submit "通報する", data: {confirm: "この内容で通報してよろしいですか？"},class: "btn btn-danger btn-block btn-game-report" %>

      <% end %>
    </div>
  </div>
</div>