<div class="row">
	<div class="col-xs-12">
		<h2 class="page-title">対応機種管理</h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 form-group">
		<%= form_for([:admin,@model] ,html:{class: "form-inline"}) do |f| %>
			<div class="model-add">
			<p class="model-add-label">対応機種追加</p>
		    <%= f.text_field :model, placeholder: "対応機種名",class: "form-control" %>
		    <%=f.submit "追加",class: "btn btn-info" %>
			</div>
		<%end%>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="models">
			<table class= "table table-hover table-bordered table-model">
				<thead>
					<tr class="info">
						<th class="text-center">ID</th>
						<th class="text-center">対応機種名</th>
						<th class="text-center">機種名変更</th>
					</tr>
				</thead>
				<tbody>
					<% @models.each do |model| %>
						<tr class="text-center">
							<td><%= model.id %></td>
							<td><%= model.model %></td>
							<td><%= form_for([:admin,model],html:{class: "form-inline"}) do |f| %>
								<%= f.text_field :model,class: "form-control" %>
								<%= f.submit "変更を保存",class: "btn btn-primary" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

