<div class="row">
  <div class="col-xs-12">
    <div class="member-session-box">
      <div class="login-logo">
          <%= image_tag('logo1.png') %>
          <h3>アカウント作成</h3>
      </div>

      <div class="member-session-input">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">

            <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "アカウント名",class: "form-control" %>

            <%= f.email_field :email, autocomplete: "email",placeholder: "メールアドレス",class: "form-control" %>

            <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード（6文字以上）",class: "form-control" %>

            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード（確認用）",class: "form-control" %>
          </div>



      <!--     <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %> -->

          <div class="actions">
          <%= f.submit "アカウント作成", class: "btn btn-success btn-block btn-registration" %>
          </div>
        <% end %>

        <%= link_to "アカウントお持ちの場合はこちら", new_session_path(resource_name), class: "btn btn-primary btn-block btn-login" %>

      </div>
    </div>

  </div>
</div>