<div class="row">
	<div class="col-xs-12">
		<h2 class="page-title">編集画面</h2>
	</div>
</div>

<%= form_for([:admin, @game], html:{class: "form-inline"}) do |f| %>

	<div class="edit-game-form game-form">

		<div class="row">
			<div class="col-xs-3">
				ゲームタイトル
			</div>
			<div class="col-xs-7">
				<%= f.text_field :title, :size=>'60%', class: "form-control",placeholder: "タイトル入力" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				発売日
			</div>
			<div class="col-xs-7">
				<%= raw sprintf(
					f.date_select(
						:release,
						start_year: 1900, #選択可能開始年
						use_month_numbers: true,#月を数字で表示
						date_separator: '%s'), #年月日仕切り
					'年 ','月 ') + '日'
				%>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				ゲームジャンル
			</div>
			<div class="col-xs-7">
    			<%= f.collection_select :genre_id, @genres, :id, :name, {},{class: "form-control"} %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				最大プレイ人数
			</div>
			<div class="col-xs-7">
				<%= f.text_field :number_of_people, :size=>'5%', class: "form-control",placeholder: "人数" %>人
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				コンプリート要素
			</div>
			<div class="col-xs-7">
				<span class="radio">
					<%= f.radio_button :complete, true %>有
				</span>
				<span class="radio">
					<%= f.radio_button :complete, false %>無
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				周回プレイ要素
			</div>
			<div class="col-xs-7">
				<span class="radio">
					<%= f.radio_button :orbit, true %>有
				</span>
				<span class="radio">
					<%= f.radio_button :orbit, false %>無
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				マルチエンド方式
			</div>
			<div class="col-xs-7">
				<span class="radio">
					<%= f.radio_button :multi_ending, true %>有
				</span>
				<span class="radio">
					<%= f.radio_button :multi_ending, false %>無
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				CEROレーティング
			</div>
			<div class="col-xs-7">
				<%= f.select :cero_rating, Game.cero_ratings.keys.to_a, {include_blank: '選択'},class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				URL
			</div>
			<div class="col-xs-7">
				<%= f.text_field :site_url, :size=>'60%', class: "form-control",placeholder: "任意" %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				ゲーム内容
			</div>
			<div class="col-xs-7">
				<%= f.text_area :text, :size=>'60%', class: "form-control game-text",placeholder: "ネタバレ厳禁" %>
			</div>
		</div>
		<div class="row">
				<div class="col-xs-3">
					公開情報
				</div>
				<div class="col-xs-7">
					<h4>
					<span class="radio">
						<%= f.radio_button :status, true %>
						<span class="label label-success">公開</span>
					</span>
					<span class="radio">
						<%= f.radio_button :status, false %>
						<span class="label label-danger">非公開</span>
					</span>
					</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
			<%= f.submit "編集完了",class: "btn btn-primary btn-block btn-lg btn-game" %>
			</div>
		</div>


<% end %>