
<div class="row">
	<div class="col-xs-12">
		<h2 class="page-title"><%= @game.title %>
			<% if @game.status == true %>
				<span class="label label-success">公開</span>
			<%  else %>
				<span class="label label-danger">非公開</span>
			<% end %>
		</h2>
	</div>
</div>
<div class="row">
		<div class="col-xs-12">
			<%= link_to "編集する",edit_admin_game_path(@game), class: "btn-sm btn-info" %>
		</div>
</div>


<div class="game-box">

	<div class="row">
		<div class="col-xs-3">
			発売日
		</div>
		<div class="col-xs-7">
			<%= @game.release %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			ゲームジャンル
		</div>
		<div class="col-xs-7">
			<%= @game.genre.name %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			最大プレイ人数
		</div>
		<div class="col-xs-7">
			<%= @game.number_of_people %>人
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			コンプリート要素
		</div>
		<div class="col-xs-7">
			<% if @game.complete == true %>
			有
			<% else %>
			無
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			周回プレイ要素
		</div>
		<div class="col-xs-7">
			<% if @game.orbit == true %>
			有
			<% else %>
			無
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			マルチエンド方式
		</div>
		<div class="col-xs-7">
			<% if @game.multi_ending == true %>
			有
			<% else %>
			無
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			CEROレーティング
		</div>
		<div class="col-xs-7">
			<%= @game.cero_rating %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			プレイ時間
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= bar_chart @playtimes.group(:time).count, max: 100 %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			URL
		</div>
		<div class="col-xs-7">
			<%= @game.site_url %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			ゲーム内容
		</div>
		<div class="col-xs-7">
			<%= @game.text %>
		</div>
	</div>
</div>
