
<% if @comment.errors.any? %>
  <div id="error_explanation">
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>
<div class="admin-game-box">
  <div class="game-title-box clearfix">
    <div class="text-right">作成者：<%= link_to @game.member.name,admin_member_path(@game.member.id) %></div>
    <h2 class="game-title pull-left"><strong><%= @game.title %></strong>
      <% if @game.status == true %>
        <span class="label label-success">公開</span>
      <%  else %>
        <span class="label label-danger">非公開</span>
      <% end %>
      <%= link_to "編集する",edit_admin_game_path(@game), class: "btn-sm btn-info" %>
    </h2>
    <div class="favorite favorite-guest pull-right">
        <%= @game.favorites.count %>fav
    </div>
  </div>

  <!-- /プレイ時間投票 -->
  <div class="game-data-box clearfix">
    <div class="game-text-box pull-left">
      <p class="game-text-title">内容</p>
      <div class="game-text"><%= @game.text %></div>
    </div>
    <div class="game-data-table pull-right">
      <table>
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>発売日</td>
            <td><%= @game.release.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <td>ゲームジャンル</td>
            <td><%= @game.genre.name %></td>
          </tr>
          <tr>
            <td>対応機種</td>
            <td>
              <% @models.each do |m| %>
                <%= m.model.model %><br>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>最大プレイ人数</td>
            <td><%= @game.number_of_people %>人</td>
          </tr>

          <tr>
            <td>コンプリート要素</td>
            <td>
              <% if @game.complete == true %>
              有
              <% else %>
              無
              <% end %>
            </td>
          </tr>
          <tr>
            <td>周回プレイ要素</td>
            <td>
              <% if @game.orbit == true %>
              有
              <% else %>
              無
              <% end %>
            </td>
          </tr>
          <tr>
            <td>マルチエンド方式</td>
            <td>
              <% if @game.multi_ending == true %>
              有
              <% else %>
              無
              <% end %>
            </td>
          </tr>
          <tr>
            <td>CEROレーティング</td>
            <td><%= @game.cero_rating %></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><%= @game.site_url %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center playtime-title">このゲームをプレイした人のプレイ時間</h4>
      <%= bar_chart @playtimes.group(:time).count, max: 100,height: "500px" %>
    </div>
  </div>


  <div class="comment-box">
    <div class="row">
      <h4><b>コメント　<%= @comments.count %>件</b></h4>

      <div class="col-xs-12">
        <div class="comments">
          <%= render @comments,game: @game %>
        </div>
        <div class="text-center"><%= paginate @comments %></div>
      </div>
    </div>
  </div>


</div>