<%= flash[:notice] %>

<div class="row">
  <div class="col-xs-12">
    <div class="genre-box">
      <ul>
      <% @genres.each do |genre| %>
          <li class="genre-item"><%= link_to genre.name,games_path(id: genre.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="top-game-box">
      <div class="top-game-title">
        <h2 class="glyphicon glyphicon-bullhorn">新着記事</h2>
        <p><%= link_to "▶︎もっと見る",games_path %></p>
      </div>
      <% @newgames.each do |game| %>
        <div class="index-game">
          <h3><%= link_to game.title,game_path(game.id) %></h3>
          <ul>
          <li>
            <span class="glyphicon glyphicon-heart"></span> <%= game.favorites.count %>
            <span class="glyphicon glyphicon-comment"></span> <%= game.comments.count %>
          </li>
          <li class="genre-item"><%= link_to game.genre.name,games_path(id: game.genre.id) %></li>
          <li class="top-time"><%= time_ago_in_words(game.created_at) %>前</li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="top-game-box">
      <div class="top-game-title">
      <h2  class="glyphicon glyphicon-bell">ランキング</h2>
      <p><%= link_to "▶︎もっと見る",ranking_path %></p>
      </div>
      <% @rankgames.each.with_index(1) do |game, i| %>
        <div class="index-game">
          <h3><span class="rank-num"><%= i %>. </span><%= link_to game.title,game_path(game.id) %></h3>
          <ul>
            <li>
              <span class="glyphicon glyphicon-heart"></span> <%= game.favorites.count %>
              <span class="glyphicon glyphicon-comment"></span> <%= game.comments.count %>
            </li>
            <li class="genre-item"><%= link_to game.genre.name,games_path(id: game.genre.id) %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
