<% if @game.status == false %>
	このゲーム記事は非公開です。
<!-- 作成者なら編集ボタン -->
<div class="row">
	<% if member_signed_in? && @game.member_id = current_member.id %>
		<div class="col-xs-12">
			<%= link_to "編集する",edit_game_path(@game), class: "btn-sm btn-info" %>
		</div>
	<% end %>
</div>
<!-- /作成者なら編集ボタン -->

<% else %>





<div class="game-box">
	<div class="game-title-box">
		<h3 class="game-title"><%= @game.title %>
		<!-- 作成者なら編集ボタン -->
		<% if member_signed_in? && @game.member_id = current_member.id %>
			<%= link_to "編集する",edit_game_path(@game), class: "btn-sm btn-info" %>
		<% end %>
		<!-- /作成者なら編集ボタン -->
		</h3>
	</div>

	<div class="game-data-box clearfix">
		<div class="game-text-box pull-left">
			<p class="game-text-title">内容</p>
			<div class="game-text"><%= @game.text %></div>
		</div>
		<div class="game-data-table pull-right">
			<table>
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>発売日</td>
						<td><%= @game.release.strftime("%Y年%m月%d日") %></td>
					</tr>
					<tr>
						<td>ゲームジャンル</td>
						<td><%= @game.genre.name %></td>
					</tr>
					<tr>
						<td>対応機種</td>
						<td>
							<% @models.each do |m| %>
								<%= m.model.model %><br>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>最大プレイ人数</td>
						<td><%= @game.number_of_people %>人</td>
					</tr>

					<tr>
						<td>コンプリート要素</td>
						<td>
							<% if @game.complete == true %>
							有
							<% else %>
							無
							<% end %>
						</td>
					</tr>
					<tr>
						<td>周回プレイ要素</td>
						<td>
							<% if @game.orbit == true %>
							有
							<% else %>
							無
							<% end %>
						</td>
					</tr>
					<tr>
						<td>マルチエンド方式</td>
						<td>
							<% if @game.multi_ending == true %>
							有
							<% else %>
							無
							<% end %>
						</td>
					</tr>
					<tr>
						<td>CEROレーティング</td>
						<td><%= @game.cero_rating %></td>
					</tr>
					<tr>
						<td>URL</td>
						<td><%= @game.site_url %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center playtime-title">このゲームをプレイした人のプレイ時間</h4>
			<%= bar_chart @playtimes.group(:time).count, max: 100,height: "500px" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<!-- プレイ時間投票 -->
		<% if !member_signed_in? %><!-- ゲスト -->
			ログインすると、プレイ時間を投票することができます。
		<% elsif @game.member_id == current_member.id %><!-- 作成者非表示 -->
		<%  elsif @game.playtime_by?(current_member) %><!-- 投票済 -->
			このゲームのプレイ時間は投票済みです。
		<% else member_signed_in? %><!-- 未投票 -->
			<%= form_for(@playtime,:url => {controller: "games", :action => :playtime_create}, html:{class: "form-inline"}) do |f| %>
			<%= f.select :time, Playtime.times.keys.to_a, {include_blank: '選択'},class: "form-control" %>
			<%= f.submit "プレイ時間送信",class: "btn btn-primary btn-sm btn-game" %>
        	<% end %>
		<% end %>
		<!-- /プレイ時間投票 -->
		</div>
	</div>


</div>

 <% end %>