<div class="row">
  <div class="col-xs-12">
    <h2 class="page-title">通報詳細</h2>
  </div>
</div>

<div class="game-report">
  <div class="row">
    <div class="col-xs-12">
      <div class="admin-game-report-table">
        <table>
          <caption><h4>コメント情報</h4></caption>
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>コメント投稿者</td>
              <td><%= link_to @comment.member.name,admin_member_path(@comment.member.id),class: "game-report-title" %></td>
            </tr>
            <tr>
              <td>投稿されたページ</td>
              <td><%= link_to @comment.game.title,admin_game_path(@comment.game.id) %></td>
            </tr>
            <tr>
              <td>コメント内容</td>
              <td><%= @comment.comment %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="report-box">
        <h4><strong>通報内容</strong></h4>
        <div>通報理由
          <div class="report-details"><%= @report.reason %></div>
        </div>
        <div>通報内容詳細
          <div class="report-details"><%= @report.report %></div>
        </div>
        <div>ステータス
          <div class="report-details">
            <%= form_for([:admin,@report], html:{class: "form-inline"}) do |f| %>
            <%= @report.status %>
            <%= f.select :status, GameReport.statuses.keys.to_a, {include_blank: '選択'},class: "form-control" %>
            <%= f.submit "変更",class: "btn btn-primary" %>
            <% end %>
          </div>
        <div>対応内容
          <div class="report-details">
            <%= form_for([:admin,@report]) do |f| %>
            <%= @report.correspondence %>
            <%= f.text_area :correspondence,class: "form-control",placeholder: "入力" %>
            <%= f.submit "追加・変更",class: "btn btn-primary btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>