<!DOCTYPE html>
<html>
  <head>
    <title>GimeGimme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header id="header-admin">
    <div class="container">
        <nav class="nav">
          <a class="sitelogo" href="/">
            <%= image_tag('logo1.png') %>
          </a>
          <ul class="navber-right">

          <% if admin_signed_in? %>
            <li>
              <button class="menu-li dropdown-toggle" data-toggle="dropdown">メニュー</button>
                <ul class="dropdown-menu">
                  <li><%= link_to "管理者トップページ",admin_top_path %></li>
                  <li><%= link_to "会員一覧",admin_members_path %></li>
                  <li><%= link_to "記事一覧",admin_games_path %></li>
                  <li><%= link_to "ジャンル管理",admin_genres_path %></li>
                  <li><%= link_to "対応機種管理",admin_models_path %></li>
                  <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
                </ul>
            </li>
            <li><%= link_to "コメント通報一覧",admin_comment_reports_path %> </li>
            <li><%= link_to "ゲーム通報一覧",admin_game_reports_path %> </li>
            <li class="login-name" id="login-name-admin">管理者ログイン中</li>

          <!-- ゲスト -->
          <% else %>
            <li class="login-name" id="login-name-admin">ログインしてください</li>

          <% end %>
        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>