<!DOCTYPE html>
<html>
  <head>
    <title>GimeGimme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



<!-- 会員ログイン中 -->
<% if member_signed_in? %>
  <header id="header">
    <div class="container">
      <nav class="nav">
        <a class="sitelogo" href="/">
          <%= image_tag('logo1.png') %>
        </a>
        <ul class="navber-right">
          <li>
              <button class="menu-li dropdown-toggle" data-toggle="dropdown">メニュー</button>
                <ul class="dropdown-menu">
                  <li><%= link_to "マイページ", member_path(current_member) %></li>
                  <li><%= link_to "新規投稿", new_game_path %></li>
                  <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
                </ul>
          </li>
          <li><%= link_to "お問い合わせ", new_contact_path %></li>
          <li><%= link_to "アバウト",home_about_path %></li>
          <li><%= link_to "トップページ",root_path %></li>
          <li class="login-name", id="login-name"><span><%= link_to current_member.name,member_path(current_member) %>さん</span></li>
        </ul>
      </nav>
    </div>
  </header>

<!-- 管理者ログイン中 -->
<% elsif admin_signed_in? %>
  <header id="header-admin">
    <div class="container">
      <nav class="nav">
        <a class="sitelogo" href="/">
          <%= image_tag('logo1.png') %>
        </a>
        <ul class="navber-right">
            <li>
              <button class="menu-li dropdown-toggle" data-toggle="dropdown">メニュー</button>
                <ul class="dropdown-menu">
                  <li><%= link_to "管理者トップページ",admin_top_path %></li>
                  <li><%= link_to "会員一覧",admin_members_path %></li>
                  <li><%= link_to "記事一覧",admin_games_path %></li>
                  <li><%= link_to "警告メール一覧",admin_warning_mails_path %></li>
                  <li><%= link_to "ジャンル管理",admin_genres_path %></li>
                  <li><%= link_to "対応機種管理",admin_models_path %></li>
                  <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></li>
                </ul>
            </li>
            <li><%= link_to "問い合わせ一覧",admin_contacts_path %> </li>
            <li><%= link_to "コメント通報一覧",admin_comment_reports_path %> </li>
            <li><%= link_to "ゲーム通報一覧",admin_game_reports_path %> </li>
            <li class="login-name" id="login-name-admin">管理者ログイン中</li>
        </ul>
      </nav>
    </div>
  </header>

<!-- ゲスト -->
<% else %>
  <header id="header">
    <div class="container">
      <nav class="nav">
        <a class="sitelogo" href="/">
          <%= image_tag('logo1.png') %>
        </a>
        <ul class="navber-right">
          <li><%= link_to "ログイン", member_session_path %></li>
          <li><%= link_to "アカウント作成", new_member_registration_path %></li>
          <li><%= link_to "お問い合わせ", new_contact_path %></li>
          <li><%= link_to "アバウト",home_about_path %></li>
          <li><%= link_to "トップページ",root_path %></li>
          <li class="login-name" id="login-name">ゲストさん</li>
        </ul>
      </nav>
    </div>
  </header>
<% end %>

<div class="container">
  <!-- 検索 -->
  <%if !request.url.include?("/search_page") %><!-- 詳細検索ページでは非表示 -->
    <div class="container">
      <div class="col-xs-12">
        <div class="search text-center">
          <%= form_tag(search_search_path,method: :get,class: "form-inline") do %>
            <%= image_tag('search.png') %>
            <div class="input-group">
            <%= text_field_tag :title, params[:title],placeholder: "ゲーム名で検索", :size => "50%",class: "form-control" %>
            <span class="input-group-btn"><%= submit_tag "検索",class: "btn btn-default" %></span>
            </div>
            <%= link_to "詳細検索ページへ",search_search_page_path,class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

    <%= yield %>
    </div>
<footer></footer>
  </body>

</html>
