<div class="member-side-menu">
  <div class="member-side-menu-li">
    <%= link_to "登録情報を編集する", edit_member_path(current_member) %>
  </div>
  <div class="member-side-menu-li">
    <%= link_to "投稿記事一覧",my_games_path  %>
  </div>
  <div class="member-side-menu-li">
    <%= link_to "お気に入り記事一覧",my_favorites_path  %>
  </div>
  <div class="member-side-menu-li">
    <%= link_to "コメント履歴",my_comments_path  %>
  </div>
  <div class="member-side-menu-li">
    <%= link_to "GIME GIMMEを退会する", delete_me_path %>
  </div>
</div>